body, html{
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
html{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 解决IOS默认滑动很卡的情况 */
  -webkit-overflow-scrolling : touch;
}
/* 上方边框一像素 */
.border-top-1px{
  position: relative;
}
.border-top-1px::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  border-top: 1px solid #D5D5D6;
  color: #D5D5D6;
}
/* 下方边框一像素 */
.border-bot-1px{
  position: relative;
}
.border-bot-1px::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  border-top: 1px solid #D5D5D6;
  color: #D5D5D6;
}
/* 右边边框一像素 */
.border-right-1px{
  position: relative;
}
.border-right-1px::before{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  border-right: 1px solid #D5D5D6;
  color: #D5D5D6;
}

/* 全边框一像素 */
.border-1px{
  position: relative;
}
.border-1px::before{
  content: '';
  position: absolute;
  transform-origin: top left;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #D5D5D6;
  color: #D5D5D6;
  box-sizing: border-box;
}

/* 点击态样式 */
.touch-active{
  background: #f0f0f0 !important;
}


/* 全屏页面 */
.full-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

/* 右浮动 */
.fr{
  float: right !important;
}
.fl{
  float: left !important;
}
.clearfix::before, .clearfix::after{
  content: "";
  display: table;
}
.clearfix::after{
  clear: both;
}
