<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style type="text/css">
    .cv-wrap {
        width: 100%;
        position: relative;
    }
    .cv {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    </style>
</head>

<body>
    <div class="cv-wrap">
        <canvas id="cv" class="cv"></canvas>
        <canvas id="cv2" class="cv"></canvas>
    </div>
    <script>
    const CVHEIGHT = 456;           // 画布高度
    const CVWIDTH = 750;            // 画布宽度
    const RADIUS = 241;             // 半径   
    const CIRCLEX = CVWIDTH/2;      // 圆心X
    const CIRCLEY = 370;            // 圆心Y
    const LINEWIDTH = 27;           // 圆环宽度
    const STEP = 3;                 // 每次渲染步数
    const TIMEOUT = 10;              // 速度
    const BGCOLOR = '#ff8129';       // 圆环背景色
    const CIRCLEF = '#fdeee5';       // 圆环前景色
    const CIRCLEB = '#fe9d64';       // 圆环背景色
    let START = 169.5;               // 开始角度
    const PROP = 1;                  // 比例【重要】
    const END = 169.5 + 201 * PROP;   // 结束角度
    // animationFrame兼容性
    (function() {
        var lastTime = 0;
        var prefixes = 'webkit moz ms o'.split(' '); //各浏览器前缀
        var requestAnimationFrame = window.requestAnimationFrame;
        var cancelAnimationFrame = window.cancelAnimationFrame;
        var prefix;
        //通过遍历各浏览器前缀，来得到requestAnimationFrame和cancelAnimationFrame在当前浏览器的实现形式
        for (var i = 0; i < prefixes.length; i++) {
            if (requestAnimationFrame && cancelAnimationFrame) {
                break;
            }
            prefix = prefixes[i];
            requestAnimationFrame = requestAnimationFrame || window[prefix + 'RequestAnimationFrame'];
            cancelAnimationFrame = cancelAnimationFrame || window[prefix + 'CancelAnimationFrame'] || window[prefix + 'CancelRequestAnimationFrame'];
        }
        //如果当前浏览器不支持requestAnimationFrame和cancelAnimationFrame，则会退到setTimeout
        if (!requestAnimationFrame || !cancelAnimationFrame) {
            requestAnimationFrame = function(callback, element) {
                var currTime = new Date().getTime();
                //为了使setTimteout的尽可能的接近每秒60帧的效果
                var timeToCall = Math.max(0, 16 - (currTime - lastTime));
                var id = window.setTimeout(function() {
                    callback(currTime + timeToCall);
                }, timeToCall);
                lastTime = currTime + timeToCall;
                return id;
            };
            cancelAnimationFrame = function(id) {
                window.clearTimeout(id);
            };
        }
        //得到兼容各浏览器的API
        window.requestAnimationFrame = requestAnimationFrame;
        window.cancelAnimationFrame = cancelAnimationFrame;
    })()

    // 封装animationFrame动画，以及动画出口
    function raf(callback, time) {
        var lastFrameTime = new Date() - 0;
        var callbackRes = true;
        (function render() {
            var curFrameTime = new Date() - 0;
            var interval = curFrameTime - lastFrameTime;
            if (interval >= time) {
                lastFrameTime = curFrameTime;
                callbackRes = callback();
            }
            if (callbackRes) {
                window.requestAnimationFrame(render);
            }
        })();
    };

    // 角度转弧度
    function toRadian(angle) {
        return angle / 180 * Math.PI;
    };

    // 绘制渐变背景
    function backGradient() { 
        var grd = ctx.createLinearGradient(CVWIDTH/2, 0, CVWIDTH/2, CVHEIGHT);
        grd.addColorStop(0, "#ff9232");
        grd.addColorStop(0.5, "#fe7d2a");
        grd.addColorStop(1, "#ff7a0e");
        ctx.fillStyle=grd;
        ctx.fillRect(0, 0, CVWIDTH, CVHEIGHT);
    }
    // 绘制圆环背景
    /* function backgroundCircle(){
        ctx.save()
        ctx.strokeStyle = CIRCLEB;
        ctx.lineWidth = LINEWIDTH;
        ctx.lineCap = "round";
        ctx.beginPath();
        ctx.arc(CIRCLEX, CIRCLEY, RADIUS, toRadian(START), toRadian(START+200), false);
        ctx.stroke();
        ctx.closePath();
        ctx.restore()
    } */

    // 绘制运动圆环
    function foregroundCircle () {
        ctx.save();       
        ctx.strokeStyle = CIRCLEF;
        ctx.lineWidth = LINEWIDTH;
        ctx.lineCap = "round";
        ctx.beginPath();
        ctx.arc(CIRCLEX, CIRCLEY, RADIUS, toRadian(START), toRadian(START += STEP), false);
        ctx.stroke();
        ctx.closePath();
        ctx.restore();
    }

    // 绘制圆环头部，用cv2画，然后合成
    function circleHeader (img) {
        ctx2.clearRect(0, 0, cv.width, cv.height)
        var imgW = img.width;
        var imgH = img.height;
        var x = Math.cos(toRadian(START + STEP)) * RADIUS + CIRCLEX - imgW/2;
        var y = Math.sin(toRadian(START + STEP)) * RADIUS + CIRCLEY - imgH/2;
        ctx2.drawImage(img, 0, 0, imgW, imgH, x, y, imgW, imgH);
    }

    // 所有图片加载完成后执行
    function imgload (imgarr, callback) {
        var imgObj = {};
        var loaded = 0;
        imgarr.forEach(function(value) {                         //遍历加载完成
            var img = new Image();
            img.src = 'images/' + value + '.png';
            img.addEventListener('load', function() {            //监听加载事件
                loaded++;                                       //loaded++
                imgObj[value] = img;                             //储存img对象
                if (loaded >= imgarr.length) {                  //判断loaded是否达到总长度
                    callback(imgObj);                           //回调函数调用
                };
            });
        });
    }

    // canvas 绘制开始
    var cv = document.querySelector('#cv');
    var ctx = cv.getContext("2d")
    cv.height = CVHEIGHT;
    cv.width = CVWIDTH;
    var cv2 = document.querySelector('#cv2');
    var ctx2 = cv2.getContext("2d")
    cv2.height = CVHEIGHT;
    cv2.width = CVWIDTH;
    
    var imgArr = ['background', 'circle'];
    imgload(imgArr, function(imgObj) {
        backGradient();
        var imgW = imgObj['background'].width;
        var imgH = imgObj['background'].height;
        ctx.drawImage(imgObj['background'], 0, 0, imgW, imgH, 0, 0, imgW, imgH);     
        // 绘制动画
        raf(function() {
            circleHeader(imgObj['circle'])
            if (START > END - STEP) {
                return false
            };
            foregroundCircle()
            return true
        }, TIMEOUT)
    })
    
    /* ctx.clearRect(0, 0, cv.width, cv.height);
    ctx.moveTo(CVWIDTH/2, CVHEIGHT-40);
    var x = Math.cos(toRadian(startAngle)) * (CVWIDTH/2-30) + (CVWIDTH/2) - imgW/2;
    var y = Math.sin(toRadian(startAngle)) * (CVWIDTH/2-30) + (CVHEIGHT-40) - imgH/2;
    ctx.drawImage(img, 0, 0, imgW, imgH, x, y, imgW, imgH); 

    ctx.arc(CVWIDTH/2, CVHEIGHT-40, CVWIDTH/2-30, toRadian(startAngle), toRadian(startAngle += STEP), false);
    ctx.fill();*/
    </script>
</body>

</html>